.highlight-text {
    color: red;
    font-style: italic;
}

.accordion-title {
    font-size: large;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.bg-pink {
    background-color: pink;
}

.black {
    color: black;
}

.subway-shinjuku-line {
    color: rgb(173, 238, 47);
}

.subway-hanzomon-line {
    color: rgb(143, 118, 214);
}

.subway-tokyu-toyoko-line {
    color: rgb(216, 0, 65);
}

.subway-fukutoshin-line {
    color: rgb(156, 94, 49);
}

.subway-yamanote-line {
    color: rgb(115, 193, 29);
}

.subway-tokyu-den-en-toshi-line {
    color: rgb(0, 168, 141);
}

.subway-saikyo-line {
    color: rgb(70, 165, 115);
}

.subway-tokyu-setagaya-line {
    color: rgb(242, 187, 53);
}

.subway-ginza-line {
    color: rgb(242, 142, 0);
}

.subway-chiyoda-line {
    color: rgb(0, 187, 133);
}

.subway-oedo-line {
    color: rgb(215, 31, 117);
}

.subway-seibu-shinjuku-line {
    color: rgb(0, 166, 191);
}

.subway-seibu-itebukuro-line {
    color: rgb(238, 122, 0);
}

.subway-chuo-line {
    color: rgb(242, 82, 16);
}

.subway-keiyo-line {
    color: rgb(179, 28, 49);
}

.kyoto-nara-line {
    color: rgb(182, 124, 43);
}

.kyoto-karasuma-line {
    color: rgb(101, 158, 112);
}

.nagoya-subway-sakuradori-line {
    color: rgb(237, 60, 45);
}

.nagoya-subway-tsurumai-line {
    color: rgb(0, 94, 209);
}

.nagoya-subway-higashiyama-line {
    color: rgb(242, 218, 0);
}

.nagoya-meitetsu-line {
    color: rgb(237, 60, 45);
}

.nagoya-kintetsu-line {
    color: rgb(242, 158, 44);
}

.f1-redbull {
    color: rgb(21, 24, 95);
}

.fi-ferrari {
    color: rgb(254, 0, 0);
}

.f1-mclaren {
    color: rgb(253, 128, 0);
}

.f1-mercedes {
    color: rgb(0, 245, 211);
}

.f1-austin-martin {
    color: rgb(0, 89, 78);
}

.f1-haas {
    color: rgb(206, 3, 30);
}

.f1-williams {
    color: rgb(0, 0, 254);
}

.f1-kick-sauber {
    color: rgb(0, 231, 1);
}

.f1-visa-rb {
    color: rgb(21, 52, 204);
}

.f1-alpine {
    color: rgb(12, 30, 44);
}