.highlight-text {
    color: red;
    font-style: italic;
}

.accordion-title {
    font-size: large;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.bg-pink {
    background-color: pink;
}

.black {
    color: black;
}

.subway-shinjuku-line {
    color: rgb(173, 238, 47);
}

.subway-hanzomon-line {
    color: rgb(143, 118, 214);
}

.subway-tokyu-toyoko-line {
    color: rgb(216, 0, 65);
}

.subway-fukutoshin-line {
    color: rgb(156, 94, 49);
}