.highlight-text {
    color: red;
    font-style: italic;
}

.accordion-title {
    font-size: large;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.bg-pink {
    background-color: pink;
}